{% extends "layout.html" %}

{% block content %}

<div class="container p-2">
    <div class="jumbotron">
        <h1 class="display-4">PySQL</h1>
        <p class="lead">Ejemplo de Python con paginas web y SQL.</p>
        <hr class="my-4">
        <p>La idea es que desde esta pagina se pueda modificar una base de datos en SQL. Un codigo en Python se encarga de vincular todos estos elementos.</p>
        <hr class="my-3">
        <p>Update: Formulario para cargar registros en la base de datos.</p>
        <p>Database: Vista de toda la base de datos.</p>
      </div>
</div>

{% endblock %}