{% extends "layout.html" %}

{% block content %}

<!-- Container para hacer consultas -->

<div class="container p-3 my-3 border" style="width:45%; height: 550px; float:left; margin-left:2.5%;">
    <h1 class="display-4">Consultas</h1>
    <hr class="my-4">
    
    <form method="POST" action="/bymat">
        <h2 class="my-2" style="font-size:large;">Por matricula</h2>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Matricula</span>
            </div>
            <input type="text" class="form-control" name="mat">
            <button class="btn btn-primary" type="submit">Consultar</button> 
        </div>           
    </form>

    <form method="POST" action="/byfname">
        <h2 class="my-2" style="font-size:large;">Por nombre</h2>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Nombre</span>
            </div>
            <input type="text" class="form-control" name="fname">
            <button class="btn btn-primary" type="submit">Consultar</button> 
        </div>           
    </form>

    <form method="POST" action="/bylname">
        <h2 class="my-2" style="font-size:large;">Por apellido</h2>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Apellido</span>
            </div>
            <input type="text" class="form-control" name="lname">
            <button class="btn btn-primary" type="submit">Consultar</button> 
        </div>           
    </form>

    <form method="POST" action="/bycurso">
      <h2 class="my-2" style="font-size:large;">Por curso</h2>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Curso</span>
          </div>
          <input type="text" class="form-control" name="divi" placeholder="722">
          <button class="btn btn-primary" type="submit">Consultar</button> 
      </div>           
  </form>

    <form method="POST" action="/bynac">
        <h2 class="my-2" style="font-size:large;">Por nacimiento</h2>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Nacimiento</span>
            </div>
            <input type="text" class="form-control" name="nac" placeholder="YYYY-MM-DD">
            <button class="btn btn-primary" type="submit">Consultar</button> 
        </div>           
    </form>
</div>

<!-- Container para hacer updates. Debe haber una consulta previa -->

<div class="container p-3 my-3 border" style="width:45%; height: 550px; float:right; margin-right:2.5%;">
  <h1 class="display-4">Updates</h1>
  <hr class="my-4">
  
  <form method="POST" action="/update">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Matricula</span>
          </div>
          <input type="text" class="form-control" name="mat">
      </div>           
      
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Nombre</span>
          </div>
          <input type="text" class="form-control" name="fname">
      </div>           

      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Apellido</span>
          </div>
          <input type="text" class="form-control" name="lname">
      </div>       

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Curso</span>
        </div>
        <input type="text" class="form-control" name="divi" placeholder="722">
    </div>       

      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Nacimiento</span>
          </div>
          <input type="text" class="form-control" name="nac" placeholder="YYYY-MM-DD"> 
      </div> 
      <button class="btn btn-primary" type="submit">Update</button>
  </form>
  <hr class="my-3">
  <p>Tengan seleccionado un registro antes de hacer un update.</p>
  {% if feedbackUpdate %}
  <p class="text-danger float-right">{{ feedbackUpdate }}</p>
  {% endif %}
</div>

<!-- Tabla para mostrar los registros -->
<div class="container p-3" style="width:95%; justify-content:center;">
  <table class="table table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Matricula</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Nacimiento</th>
          <th scope="col">Curso</th>
          <th scope="col">Del</th>
        </tr>
      </thead>
      <tbody>
      {% if table %}
        {% for i in table %}
        <tr>
          <td>{{ i[0] }}</td>
          <td>{{ i[1] }}</td>
          <td>{{ i[2] }}</td>
          <td>{{ i[4] }}</td>
          <td>{{ i[3] }}</td>
          <td>
          <form method="POST" action="/delete">
          <input type="hidden" style="color: black;" name="mat" value="{{i[0]}}" ></input>

          <button style="border-style:none; background-color: white; align-self: center;">
              <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>  
              </svg>
          </button>
          </form>
          </td>
      </tr>
        {% endfor %}
      {% endif %}
      </tbody>
    </table>   
</div>


{% endblock %}