{% extends "layout.html" %}

{% block content %}

<div class="container p-3 m-3" style="align-self: center;">

    <table class="table table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Matricula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Nacimiento</th>
            <th scope="col">Curso</th>
          </tr>
        </thead>
        <tbody>
          {% if table %}
          {% for i in table %}
          <tr>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
            <td>{{ i[4] }}</td>
            <td>{{ i[3] }}</td>
        </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>  

</div>

{% endblock %}